# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d1fcc7b7acd56e14a84d71913af3ad7f"
name = "meta-maTrix"
application_url = "https://accurately-fall-occasions-duration.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [ "https://accurately-fall-occasions-duration.trycloudflare.com/api/auth" ]
